/**
 * @file
 * Customization for CST site
 *
 */

@import 'base';


/**
 *
 *   Computer Science - Front Page
 *
 */

@media screen and (min-width: 800px) {
  body {
    background-attachment: fixed;
    background-image: url('../images/cs/csBackground.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

#main {
  background: linear-gradient(0deg, rgba(255,255,255,.4), rgba(255,255,255,.7));
}


// Our Vision

.cs-fp-gray-tiled-box {
  background-image: url('../images/cs/vision-bg.png');
  background-size: contain;
  margin-left: 3.063em;
  width: 91%;

  h2 {
    background: #777;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: .5em;

    a {
      color: #fff;
    }
  }

  p {
    padding: 1em 8em 2em 2em;
  }
}


// Slideshow

.cs-fp-slideshow {
  padding: 1em 2em 0 3em;
  width: 35em;
}


// advising icon

.cs-homepage-top-right-column {
  margin: auto;
}

// gray box w/ green arrow - scholarships and alumni

.cs-fp-gray-box-green-arrow {
  background: #999 url('../images/cs/right-green-arrow.png') bottom right no-repeat;
  border: 15px solid $wwuLtGray;
  margin: 0em 3em;

  h2 {
    background: #444;
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    margin: 0;
    padding: .5em;
    text-transform: uppercase;
  }

  p {
    padding: 1.0em;
  }
}


// event listing

.cs-fp-event {
  margin: 2em 0 0 3.25em;

  h2 {
    background: $wwuBlue;
    color: $wwuPaleBlue;
    display: inline-block;
    font-size: 1.2em;
    padding: .5em;
    text-transform: uppercase;

    a {
      color: #fff;
    }
  }
}


// contact info box

.cs-fp-contact {
  margin-top: 2em;

  p {
    padding-left: .5em;
  }

  h2 {
    display: inline-block;
    padding: .5em;
    background: $wwuBlue;
    color:#fff;
    text-transform: uppercase;
    font-size: 1.2em;
  }
}

// Job Opportunities
.cs-fp-jobs {
  margin-top: 0;

  h2 {
    background: $wwuBlue;
    color: #fff;
    display: inline-block;
    font-size: 1.2em;
    padding: .5em;
    text-transform: uppercase;
  }
}

td.views-field.views-field-field-your-photo {
  width: 200px;
}

.flexslider,
.slides {
  overflow: hidden;
}

.slides::after {
  content: unset;
  display: none;
}

.view-mode-csm_scholars_slideshow {
  height: auto;
  max-width: 600px;
}
